@keyframes moveCookie {
    from {
        left: 0%;
    }

    to {
        left: 100%;
        display: none;
    }
}


.paused {
    -webkit-animation-play-state: paused;
    -moz-animation-play-state: paused;
    -o-animation-play-state: paused;
    animation-play-state: paused;
}


.cookieDefault {
    position: fixed;
    height: 150px;
    width: 150px;
    display: flex;
    animation-name: moveCookie;
    animation-duration: 3.5s;
    animation-timing-function: linear;
    left: 100%;
    background: none;
    border-width: 0px;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.cookieBtn {
    position: fixed;
    height: 250px;
    width: 250px;
    display: flex;
    animation-duration: 3.5s;
    animation-timing-function: linear;
    left: 100%;
    background: none;
    border-width: 0px;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
}


#cookies {
    position: fixed;
    width: 100%;
    height: 70%;
    display: flex;
    top: 30%;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;

}

.cookieImg {
    width: 100%;
    height: 100%;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
    pointer-events: none;
}


.brokenCookie {

}


#foreground {
    position: fixed;
    z-index: 99999999;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
    pointer-events: none;
    height: 110%;
    width: 100%;
    top: 0px;
}

#sidepanel {
    position: fixed;
    z-index: 999999999;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
    pointer-events: none;
    height: 100%;
    width: 100%;
    top: 0px;
}



body {
    background-color: #323232;
}


#fullscreenPrompt {
    position: fixed;
    z-index: 999999999999999999;
    background-color: black;
    color: rgb(255, 255, 255);
    border-radius: 10%;
    width: 160px;
    height: 90px;
    opacity: unset;
    text-align: center;
    button {
        background-color: green;
        color: white;
        border-color: greenyellow;

        &:hover {
            background-color: greenyellow;
            border-color: green;
        }
    }
}

#promptBackground {
    position: fixed;
    display: none;
    background-color: gray;
    opacity: 50%;
    width: 100%;
    height: 100%;
    z-index: 99999999999998;
    top: 0px;
    left: 0px;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
}



#score {
    display: flex;
    position: fixed;
    z-index: 999999999999999999999;
    top: 20px;
    left: 20px;
    color: rgb(224, 202, 170);
    border-width: 2px;
    border-color: black;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
}


#gunImg {
    position: fixed;
    display: flex;
    flex-wrap: wrap;
    z-index: 99999999999999999999999999999999;
    width: 350px;
    height: 350px;

}


#gunElements {
    display: flex;
    position: fixed;
    z-index: 99999999999999999999999999999999;
    height: 600px;
    width: 600px;
    flex-wrap: nowrap;
    left: 75%;
    top: 65%

}


#bullet_numbers {
    position: fixed;
    font-size: 40px;
    flex-wrap: wrap;
    top: 90%;
    left: 75%;
    font-family: monospace;
}


#gunElements {
        -moz-user-select: -moz-none;
            -khtml-user-select: none;
            -webkit-user-select: none;
            -o-user-select: none;
            user-select: none;
            pointer-events: none;
}


#shop {
    button {
        background-color: rgb(116, 83, 46);
        border-color:rgb(96, 66, 29);
        border-style: solid;
        border-width: 4.5px;
        font-size: 50px;
        position: fixed;
        transition: 250ms;
        margin: 10px;
        width: 200px;
        margin-top: 125px;
        color: black;

        &:hover {
            background-color: rgb(96, 66, 29);
            border-color: rgb(116, 83, 46);
            font-size: 60px;
            width: 250px;
        }
    }
}


#leftSide {
    display: flex;
    flex-wrap: wrap;
    width: 100px;
    margin-top: 250px;
    margin-left: 75px;
    left: 10%;
    top: 0px;
}

.btnFag {
    display: flex;
    z-index: 99999999998;
    text-wrap: nowrap;
    margin: 50px;
    justify-items: center;
    justify-content: center;
    align-content: center;
    align-self: center;
    align-items: center;
    color: rgb(0, 0, 0);
    font-family: monospace;
    background-color: rgb(126, 61, 14);
    border-color: rgb(0, 0, 0);
    border-width: 5px;
    border-style:groove;
    font-size: x-large;
}